h1,
p {
  font-family: Lato;
}

h1 {
  font-size: 2rem;
}

.gameListItem {
  margin: 0;
  margin-bottom: 1rem;
  padding: 1rem;
  border: 1px black solid;
}

.gameListContainer {
  overflow-y: auto;
  scroll-padding-top: 5rem;
}

.header-container {
  position: fixed;
  display: flex;
  flex-direction: row;
}

.body-container {
  padding-top: 5rem;
}
